
.dashboard-container{
    background-color:#EAECEB  ;
}

.dashboard-content{
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: white;
    margin: 5% auto;
    padding: 0% 2%;
    border-radius: 20px;
}

.card-data{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.data{
    border-right: 1px solid lightgray;
    padding: 0 5%;
    text-align:left;
}

.data-figure{
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

